<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>...</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <style>
            p{
    color:white;
}

body{
    background-image:url(/static/images/bg1.jpg);
    background-size:100%;
}
img{
    margin: 5%;
    width:250px;
    height:250px;
}

.dd{
    background-color:rgba(56,41,154,50%);
    margin:10%;
    padding:5%;
}

.change{
    color:aqua;
}
        </style>
    </head>
<body>
    <div class="row dd">
        <div class="col-5">
            <img src="...">
        </div>
        <div class="col-7">
            <h3 class="change">...</h3>
            <br>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p>...</p>
            <p class="change">...</p>
            <p class="change">...</p>
        </div>
    </div>
</body>  
</html>